@import 'theme';

#table-dark {
  .state-option {
    background-color: $color3;
  }

  .state-annule {
    background-color: $color-error;
  }

  .state-confirme {
    background-color: $color-success;
  }
}

// Seulement possible car on a retiré le shadowDOM
app-template-a #table-dark .state-option {
  background: $color2;
}

app-template-b #table-dark .state-option {
  background: $color1;
}
